h1 {
  font-size: 27px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: normal;
}

p {
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
}