{% extends 'base.html.twig' %}

{% block body %}
  <div class="col-md-8">
    <h1>Article title</h1>
    <p>Body</p>
  </div>
  <div class="col-md-4">
    <h2>Latest articles</h2>
    <ul>
      <li>one</li>
      <li>one</li>
      <li>one</li>
    </ul>
  </div>
{% endblock %}
