{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
  <div id="articles" data-title="All articles">
    <articles />
  </div>
{% endblock %}

{% block additional_scripts %}
  {{ encore_entry_script_tags('articles') }}
{% endblock %}
